In [1]:
%matplotlib inline

In [2]:
import pandas as pd
pd.options.display.max_rows = 25 #display max rows
pd.options.display.float_format = '{:.2f}'.format #supress scientific notation

Read turnstile data from the week May 20, 2017

In [3]:
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_170520.txt')

Strip the whitespace in the column names

In [5]:
col_names=[]
for col in df.columns:
    col_names.append(col.strip())
df.columns=col_names

Create a DATE_TIME column by combining DATE and TIME columns

In [6]:
df["DATE_TIME"] = df["DATE"] + " " + df["TIME"]

Convert the DATE_TIME column to a datetime object

In [7]:
df['Date_Time'] = pd.to_datetime(df['DATE_TIME'])

Add DAY column indication the day of the week

In [9]:
df['DAY']=df['Date_Time'].dt.weekday_name

Entries and exits is a cumulative count of riders.
Add ENTRIES_DIFF and EXITS_DIFF columns to look at number of people riding.

In [10]:
df['ENTRIES_DIFF'] = df['ENTRIES'].diff()

In [11]:
df['EXITS_DIFF']=df['EXITS'].diff()

Reformat the data frame

In [13]:
cols = ['Date_Time', 'DAY', 'STATION', 'LINENAME', 'SCP', 'ENTRIES', 'ENTRIES_DIFF', 'EXITS', 'EXITS_DIFF']

In [15]:
df = df.loc[:,cols]

In [16]:
df.head()

,Date_Time,DAY,STATION,LINENAME,SCP,ENTRIES,ENTRIES_DIFF,EXITS,EXITS_DIFF
0,2017-05-13 00:00:00,Saturday,59 ST,NQR456W,02-00-00,6175956,nan,2091935,nan
1,2017-05-13 04:00:00,Saturday,59 ST,NQR456W,02-00-00,6176001,45.00,2091936,1.00
2,2017-05-13 08:00:00,Saturday,59 ST,NQR456W,02-00-00,6176032,31.00,2091960,24.00
3,2017-05-13 12:00:00,Saturday,59 ST,NQR456W,02-00-00,6176121,89.00,2092061,101.00
4,2017-05-13 16:00:00,Saturday,59 ST,NQR456W,02-00-00,6176394,273.00,2092119,58.00

Examine the data for a single station

In [18]:
df[df.STATION=='59 ST'].groupby('Date_Time').ENTRIES_DIFF.agg(['min', 'max','count','mean'])

                               min           max  count     mean
Date_Time
2017-05-13 00:00:00 -2018655970.00 2024012884.00     52 16146.52
2017-05-13 04:00:00         -41.00        161.00     53    31.28
2017-05-13 08:00:00        -248.00        447.00     53    42.40
2017-05-13 12:00:00        -515.00        814.00     53   114.83
2017-05-13 16:00:00        -489.00        656.00     53   185.26
2017-05-13 20:00:00        -499.00        678.00     53   203.17
2017-05-14 00:00:00        -236.00        358.00     53    93.89
2017-05-14 04:00:00         -33.00        100.00     53    20.85
2017-05-14 08:00:00        -149.00        304.00     53    27.92
2017-05-14 11:37:37        -403.00        752.00      4   296.75
2017-05-14 11:49:22           0.00        469.00      5   230.40
2017-05-14 12:00:00         -69.00        306.00     53    61.89
...                            ...           ...    ...      ...
2017-05-18 00:00:00        -285.00        719.00     53   176.81
2017-05-18 04:00:00         -54.00        127.00     53    23.62
2017-05-18 08:00:00        -642.00        979.00     53   123.85
2017-05-18 12:00:00        -850.00       1253.00     53   256.17
2017-05-18 16:00:00        -552.00       1083.00     53   309.04
2017-05-18 20:00:00       -1063.00       1841.00     53   550.74
2017-05-19 00:00:00        -295.00        730.00     53   184.23
2017-05-19 04:00:00         -61.00        180.00     53    25.02
2017-05-19 08:00:00        -664.00       1047.00     53   118.94
2017-05-19 12:00:00        -774.00       1312.00     53   281.87
2017-05-19 16:00:00        -530.00       1043.00     53   312.92
2017-05-19 20:00:00        -753.00       1752.00     53   526.72

[49 rows x 4 columns]

To do: 1. How do we handle the max and min for 2017-05-13 2. How we handle the negative numbers for ENTRIES_DIFF?